<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Openai Audio to Text</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/mic-recorder-to-mp3@2.2.1/dist/index.js"></script>
  <script src="/js/index.js" defer></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <form id="audioForm">
          <div class="form-group">
            <label for="audioFile">Escolha o arquivo de audio:</label>
            <input type="file" class="form-control-file" id="audioFile" name="audioFile" accept="audio/*">
          </div>
          <button class="btn btn-primary" type="submit">
            Upload
          </button>
        </form>
      </div>
      <div class="col-md-6 col-12">
        <div>
          Grave seu audio usando o Mic
        </div>
        <div>
          <button class="btn btn-success" id="recordAudio">Record</button>
        </div>
        <hr>
        <div id="playlist"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <form id="urlForm">
          <div class="form-group">
            <label for="urlInput">Entre com uma URL de um arquivo de audio (mp3, wav)</label>
            <input type="text" class="form-control" id="urlInput" placeholder="https://www.myinstants.com/media/sounds/nao-consegue-ne-moises-meme_04Iqgj4.mp3" value="https://www.myinstants.com/media/sounds/nao-consegue-ne-moises-meme_04Iqgj4.mp3">
          </div>
          <button type="submit" class="btn btn-primary">Accept</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-12 mt-2">
        <div id="result" class="alert"></div>
      </div>
    </div>
  </div>
<div id="loading-screen">
  <div class="spinner"></div>
</div>

</body>

</html>