#loading-screen {
  display: none;
}

#loading-screen.show {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin: 0;
}

audio {
  max-width: 100%;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 6px solid #fff;
  border-top-color: #155724;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite, grow 2s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes grow {


  35% {
    height: 70px;
    width: 70px;
  }

}